---
import { Image } from 'astro:assets';
import Base from '../layouts/Base.astro';
import HeaderImage from '../assets/nos-actions.jpg';
import LutterPrecarite from '../assets/lutter-precarite.png';
import RightArrow from '../assets/right-arrow.svg';
import { SITE_TITLE } from '../consts';
---

<Base title={SITE_TITLE}>
	<main>
		<div class="px-5 md:px-15 flex justify-center bg-rebeige-300">
			<div class="w-11/12 md:w-10/12 py-20">
				<div class="text-rered">
					<h1>Agir à tous<br/>les niveaux pour<br/>changer durablement<br/>les règles</h1>
				</div>			
			</div>
		</div>
        <div class="px-5 md:px-15 flex justify-center bg-rered text-rebeige-300">
			<div class="w-11/12 md:w-10/12 py-20 flex">
                <div class="w-full md:w-1/2">
                    <p>
                        Parce que les règles touchent à la dignité, à la santé, à l’égalité et à l’accès aux droits, nous développons des actions complémentaires : répondre à l’urgence, transmettre des connaissances, produire des données, mobiliser les acteur·ices et faire évoluer les politiques publiques. 
                        <br/>Notre conviction : pour faire reculer les injustices menstruelles, il faut agir à la fois sur le terrain, dans les mentalités et dans les décisions collectives.
                    </p>	
                </div>	
                <div class="w-full md:w-1/2 flex justify-center">
                    <div class="w-7/12 -mt-50">
                        <Image src={HeaderImage} alt="" />
                    </div>                    
                </div>				
			</div>
		</div>
        <div class="w-full flex flex-col">
            <div class="px-5 md:px-15 flex flex-col items-start w-full bg-regreen">
                <div class="actions-header flex items-center justify-between w-full py-10 cursor-pointer transition-all">
                    <h5 class="font-lorimer-condensed-black">Lutter contre la précarité menstruelle</h5>    
                    <Image class="actions-icon transition-all duration-500" src={RightArrow} alt="" />        
                </div>
                <div class="actions-content overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500 flex flex-wrap">
                    <div class="w-full md:w-1/2">
                        <p class="font-bold">Garantir un accès digne aux produits périodiques.</p>
                        <p class="mt-4">Parce qu’aucune personne ne devrait avoir à choisir entre se nourrir et se protéger, nous agissons pour favoriser l’accès aux protections périodiques partout où les besoins existent : collectes citoyennes, redistribution, partenariats avec les structures de terrain, accompagnement des dispositifs de gratuité et développement de solutions innovantes.</p>
                        <p class="mt-4"><b>Notre objectif</b> : répondre aux besoins immédiats tout en construisant des réponses durables.</p>
                    </div>
                    <div class="w-full md:w-1/2">
                        <Image class="mt-4 md:mt-0 md:w-3/4 mx-auto" src={LutterPrecarite} alt="" />
                    </div>
                </div>
            </div>
            <div class="px-5 md:px-15 flex flex-col items-start w-full bg-reyellow">
                <div class="actions-header flex items-center justify-between w-full py-10 cursor-pointer transition-all">
                    <h5 class="font-lorimer-condensed-black">Déployer l’éducation menstruelle</h5>    
                    <Image class="actions-icon transition-all duration-500" src={RightArrow} alt="" />        
                </div>
                <p class="actions-content overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                    Règles Élémentaires est une association qui agit pour l’égalité, l’éducation et la justice menstruelle.
                    <br/>Règles Élémentaires œuvre pour que les femmes et toutes les personnes qui ont, avaient et auront leurs règles puissent les vivre dignement, sans tabou et en sécurité.
                    <br/>Pour ce faire, elle forme et informe sur les règles, promeut la santé menstruelle et lutte contre la précarité menstruelle en favorisant l’accès aux produits périodiques.
                    <br/>Depuis 2015, Règles Élémentaires change les mentalités et les lois pour construire une société plus juste et égalitaire.
                </p>
            </div>
            <div class="px-5 md:px-15 flex flex-col items-start w-full bg-reorange">
                <div class="actions-header flex items-center justify-between w-full py-10 cursor-pointer transition-all">
                    <h5 class="font-lorimer-condensed-black">Informer et sensibiliser</h5>    
                    <Image class="actions-icon transition-all duration-500" src={RightArrow} alt="" />        
                </div>
                <p class="actions-content overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                    Règles Élémentaires est une association qui agit pour l’égalité, l’éducation et la justice menstruelle.
                    <br/>Règles Élémentaires œuvre pour que les femmes et toutes les personnes qui ont, avaient et auront leurs règles puissent les vivre dignement, sans tabou et en sécurité.
                    <br/>Pour ce faire, elle forme et informe sur les règles, promeut la santé menstruelle et lutte contre la précarité menstruelle en favorisant l’accès aux produits périodiques.
                    <br/>Depuis 2015, Règles Élémentaires change les mentalités et les lois pour construire une société plus juste et égalitaire.
                </p>
            </div>
        </div>
	</main>
</Base>

<script>
    document.querySelectorAll('.actions-header').forEach((header, index) => {
        header.addEventListener('click', () => {
            const allAnswers = document.querySelectorAll('.actions-content');
            const allIcons = document.querySelectorAll('.actions-icon');

            allAnswers.forEach((el, i) => {
                if (i === index) {
                    const isOpen = el.classList.contains('opacity-100');
                    el.classList.toggle('opacity-100', !isOpen);
                    el.classList.toggle('max-h-[800px]', !isOpen);
                    el.classList.toggle('translate-y-0', !isOpen);
                    el.classList.toggle('py-8', !isOpen);
                    el.classList.toggle('max-h-0', isOpen);
                    el.classList.toggle('-translate-y-2', isOpen);
                    allIcons[i].classList.toggle('opacity-0', !isOpen);
                } else {
                    el.classList.remove('opacity-100', 'max-h-[800px]', 'translate-y-0', 'py-8');
                    el.classList.add('max-h-0', '-translate-y-2');
                    allIcons[i].classList.remove('opacity-0');
                }
            });
        });
    });
</script>