---
import { Image } from 'astro:assets';
import RedLogo from '../assets/LOGOTYPE-RE-HORIZONTAL-ROUGE.svg';
import WhiteLogo from '../assets/LOGOTYPE-RE-HORIZONTAL-BLANC.svg';
import RightArrow from '../assets/right-arrow.svg';
import ParlonsRegles from '../assets/parlons-regles.png';
import Regla from '../assets/regla.png';
import UEFlag from '../assets/ue-flag.png';
import NavRedArrow from '../assets/nav-red-arrow.png';
import ActuFestival from '../assets/festival-10-ans-banniere.png';
---

<header>
  <nav>
    <div class="wrapper">
      <div class="nav-column first-nav-column flex items-center justify-between md:justify-start">
        <div class="logo ps-6 md:ps-0">
          <a href="/">
            <Image id="red-logo" src={RedLogo} alt="Règles élémentaires" />
            <Image id="white-logo" src={WhiteLogo} alt="Règles élémentaires" />
          </a>
        </div>
        <input type="checkbox" name="menu" id="menu-btn">
        <label for="menu-btn" class="me-6 md:me-0 md:ms-4">
          <svg id="menu-svg" role="img" aria-label="Menu" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="37.8281" height="37.8281" rx="4.5"/>
            <line x1="8.26572" y1="11.7031" x2="30.5626" y2="11.7031" stroke-linecap="round"/>
            <line x1="8.26553" y1="19.1914" x2="30.5624" y2="19.1914" stroke-linecap="round"/>
            <line x1="8.26553" y1="27.5117" x2="30.5624" y2="27.5117" stroke-linecap="round"/>
          </svg>
        </label>
      </div>
      <div class="hidden md:block nav-column second-nav-column"></div>
      <div class="hidden md:flex justify-end nav-column third-nav-column">
        <div class="nav-right-buttons">
          <!-- <a class="small-maroon-shadow font-lorimer bg-rebeige-300 text-remaroon p-2.5 me-4" href="/">Ressources</a> -->
          <a class="small-maroon-shadow font-lorimer bg-rered text-rebeige-300 p-2.5" href="https://regleselementaires.don-en-ligne.com/findannee2024/?lang=fr_FR&frequency=once&amount=16000" target="_blank">Faire un don</a>
        </div>        
      </div>
    </div>
    <div id="mega-box">
        <div class="content">
          <div class="nav-column bg-rered px-8 md:ps-15 md:pe-0 md:py-6">
            <ul class="mega-links text-rebeige-300">
              <li><a href="/qui-sommes-nous">Qui sommes-nous ?</a></li>
              <li><a id="nos-actions-link" href="/nos-actions">Nos actions</a></li>
              <li><a href="/impact">Notre impact</a></li>
              <li><a id="sengager-link" href="/s-engager">S'engager</a></li>
              <li><a href="/informer">S'informer</a></li>
              <li><a href="/plaidoyer">Notre plaidoyer</a></li>
            </ul>
            <div class="mt-4 mb-8 md:mb-0">
              <a class="small-maroon-shadow inline-block text-base font-lorimer bg-rebeige-300 text-remaroon p-2 md:p-2.5" href="/europe">
                <div class="flex items-center">
                  Europe
                  <div class="ms-2 w-8"><Image src={UEFlag} alt="" /></div>    
                </div>                            
              </a>
            </div>                        
          </div>
          <!-- MOBILE ONLY -->
          <div class="block md:hidden">
            <div class="bg-remaroon w-full p-4 flex flex-wrap justify-center">
              <!-- <a class="font-lorimer bg-rebeige-300 text-remaroon text-base p-2 rounded-lg m-2" href="/">Ressources</a> -->
              <a class="font-lorimer bg-rebeige-300 text-remaroon text-base p-2 rounded-lg m-2" href="/actus/festival-10-ans">Notre festival !</a>
              <a class="font-lorimer bg-rebeige-300 text-remaroon text-base p-2 rounded-lg m-2" href="/">Faire un don</a>
            </div>  
            <div class="flex">
              <div class="w-1/2 flex flex-col bg-rebeige-500 pt-6 pb-8 px-8">
                <h4 class="text-rered">Parlons Règles</h4>
                <p class="mt-4 text-xs">Notre solution pour généraliser l’éducation menstruelle</p>
                <div class="mt-4">
                  <a class="small-maroon-shadow font-lorimer bg-rebeige-300 text-remaroon p-2" href="https://www.regla-app.fr/" target="_blank">Découvrir</a>
                </div>
              </div>
              <div class="w-1/2 flex flex-col bg-rebeige-300 pt-6 pb-8 px-8">
                <h4 class="text-rered">Reglà</h4>
                <p class="mt-4 text-xs">Notre solution pour mobiliser et lutter contre la précarité menstruelle</p>
                <div class="mt-4">
                  <a class="small-maroon-shadow font-lorimer bg-rebeige-300 text-remaroon p-2" href="https://www.regla-app.fr/" target="_blank">Découvrir</a>
                </div>                  
              </div>            
            </div>
          </div>
          <!-- END MOBILE ONLY -->
          <div class="hidden md:block nav-column bg-remaroon py-6">
            <div id="mega-actu" class="text-rebeige-300 px-8 flex flex-col">
              <div>
                <span class="square-title inline-block bg-rered text-rebeige-300 text-2xl">Actualité à la une</span>
              </div>       
              <a href="/actus/festival-10-ans">
                <Image class="mt-4 w-3/4" src={ActuFestival} alt="" />      
                <div class="font-lorimer-condensed text-4xl mt-4">Changer les règles pour changer le monde !</div>
                <p class="font-extrabold text-sm mt-2">24 avril 2026</p>
                <p class="mt-2">Découvrez la programmation de notre festival ! On vous donne rendez-vous en mai pour un mois riche en événements partout en France !</p>
              </a>              
              <!--
              <div class="mt-2">
                <a href="#" class="inline-block">
                  <div class="flex items-center">
                      <div class="bg-rebeige-300 rounded-full flex items-center justify-center h-10 w-10 border-4 border-remaroon -me-4 z-200">
                          <Image class="w-2/3" src={RightArrow} alt="" />
                      </div>                      
                      <div class="bg-rebeige-300 text-remaroon font-bold text-sm ps-6 py-0.5 pe-2">Voir toutes les actus</div>
                    </div>
                </a>
              </div> 
              -->             
            </div>
            <div id="mega-nos-actions-submenu" class="flex items-center">
              <div class="w-1/10 pe-4">
                <Image src={NavRedArrow} alt="" />
              </div>
              <div class="w-9/10 pe-4"> 
                <ul class="text-rebeige-300">
                  <li><a href="/actions/lutter-contre-la-precarite-menstruelle">Lutter contre la précarité menstruelle</a></li>
                  <li><a href="/actions/deployer-education-menstruelle">Déployer l'éducation menstruelle</a></li>
                  <li><a href="/informer#sensibiliser">Informer et sensibiliser</a></li>
                  <li><a href="/actions/former">Former</a></li>
                  <li><a href="/actions/mobiliser">Mobiliser</a></li>
                  <li><a href="/plaidoyer">Changer les règles</a></li>
                  <li><a href="/europe">Actions à l’échelle européenne</a></li>
                </ul>
              </div>
            </div>
            <div id="mega-sengager-submenu" class="flex items-center">
              <div class="w-1/10 pe-4">
                <Image src={NavRedArrow} alt="" />
              </div>
              <div class="w-9/10 pe-4">
                <ul class="text-rebeige-300">
                  <li><a href="/s-engager#faire-un-don">Faire un don</a></li>
                  <li><a href="/s-engager#organiser-collecte">Organiser une collecte</a></li>
                  <li><a href="/s-engager#devenir-benevole">Devenir bénévole</a></li>
                  <li><a href="/s-engager#devenir-partenaire">Devenir partenaire</a></li>
                  <li><a href="/s-engager#devenir-entreprise">Devenir une entreprise engagée</a></li>
                  <li><a href="/s-engager#devenir-collectivite">Devenir une collectivité engagée</a></li>
                  <li><a href="/s-engager#devenir-etablissement">Devenir un établissement engagé</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="hidden md:block nav-column bg-rebeige-100 flex-wrap">
            <div class="w-full flex py-8 pe-15">
              <div class="w-5/12">
                 <Image class="w-3/4 mx-auto" src={ParlonsRegles} alt="Parlons Règles" />
              </div>
              <div class="w-7/12">
                <p>Notre solution pour généraliser l’éducation menstruelle</p>
                <a class="small-maroon-shadow inline-block font-lorimer bg-rebeige-300 text-remaroon p-2.5 me-4 mt-2" href="https://www.parlonsregles.fr/" target="_blank">Découvrir</a>
              </div>
            </div>
            <div class="w-full flex bg-rebeige-300 py-8 pe-15">
              <div class="w-5/12">
                <Image class="w-3/4 mx-auto" src={Regla} alt="Reglà" />
              </div>
              <div class="w-7/12">
                <p>Notre solution pour mobiliser et lutter contre la précarité menstruelle</p>
                <a class="small-maroon-shadow inline-block font-lorimer bg-rebeige-300 text-remaroon p-2.5 me-4 mt-2" href="https://www.regla-app.fr/" target="_blank">Découvrir</a>
              </div>
            </div>
            <!--
            <div class="w-full flex flex-col bg-regreen py-6 ps-6 pe-15">
              <span class="font-lorimer-condensed text-remaroon text-4xl">Nos ressources</span>
              <div class="mt-2">
                <a href="#" class="inline-block">
                  <div class="flex items-center">
                      <div class="bg-rebeige-300 rounded-full flex items-center justify-center h-10 w-10 border-4 border-regreen -me-4 z-200">
                          <Image class="w-2/3" src={RightArrow} alt="" />
                      </div>    
                      <div class="bg-rebeige-300 text-remaroon font-bold text-sm ps-6 py-0.5 pe-2">Voir toutes les ressources</div>
                  </div>
                </a>
              </div>
            </div> 
            -->
          </div>
        </div>
      </div>
  </nav>
</header>