---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'actus'>['data'];

const { title, description, pubDate, heroImage, tag } = Astro.props;
---

<html lang="fr">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="px-5 md:px-15 flex justify-center bg-rebeige-300 text-remaroon">
					<div class="w-11/12 md:w-10/12 py-15 md:py-30 flex flex-col items-center">
						<div class="bg-rered text-white font-lorimer-condensed text-3xl md:text-5xl px-6 py-2 -rotate-3">{tag}</div>
						<h1 class="md:w-2/3 text-center mt-10">{title}</h1>
					</div>
				</div>
				<div class="w-full">
					{heroImage && <Image src={heroImage} alt="" />}
				</div>
				<div class="px-5 md:px-15 flex justify-center bg-rebeige-100 text-remaroon">
					<div class="w-11/12 md:w-8/12 py-10 md:py-20">
						<div class="border-b-2 pb-4">
							Publié le <FormattedDate date={pubDate} />
						</div>				
						<p class="mt-10 mb-6 font-bold">
							{description}
						</p>
						<slot />
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
